#seccion_2 {
    background-color: #0CD2A4;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 80px;
}


#seccion_3{
  background-color: pink;
  margin: 80px;
  padding: 40px;
}

#seccion_1{
  background-color: #82FA58;
  padding: 40px;
}
